<div ng-controller="locCtrl" ng-click="" ng-init="editLocationInit()" style="margin-top:60px">
<div id="res"></div>

<div class="headerMessage">
		<div class="alert alert-success" ng-show="showSuccessAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> 
		     <strong>{{successTextAlert}}</strong> 
		</div>
		<div class="alert alert-danger" ng-show="showFailureAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showFailureAlert')">×</button> 
		     <strong>{{failureTextAlert}}</strong>
		</div>
</div>
<div class="wrapper">
	<div class="">
<!-- 		<div class="alert alert-success" ng-show="showSuccessAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>
		     <strong>{{successTextAlert}}</strong>
		</div>
		<div class="alert alert-danger" ng-show="showFailureAlert">
		     <button type="button" class="close" data-ng-click="switchBool('showFailureAlert')">×</button>
		     <strong>{{failureTextAlert}}</strong>
		</div>
 -->	<div class="col-xs-9 col-md-11 pull-md-3" data-example-id="" >
			<h3>Edit Location</h3>
		</div>
		<div ng-hide="loaded" class="se-pre-con1">
		</div>
		<div class="col-xs-9 col-md-11 pull-md-3 workArea" data-example-id="" >
			<form name="editLocationForm">
				<div class="form-group row" ng-hide="hideDropDown">
			      <label for="custId" class="col-xs-3 col-form-label">Customer</label>
			      <div class="col-xs-9">
			        <select id="custSelect" class="form-control" ng-model="editDetails.custId" ng-options="x.name for x in lists.customersList track by x.id" ng-change="getBrands(editDetails.custId)">
			         <option value="" style="display: none;">-- SELECT --</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group row" ng-hide="hideDropDown">
			     <label for="brandId" class="col-xs-3 col-form-label">Brand</label>
			       <div class="col-xs-9">
			        <select id="brandSelect" class="form-control" ng-model="editDetails.brandId" ng-options="x.name for x in lists.brandsList track by x.id" ng-change="getLocations(editDetails.brandId)">
			         <option value="" style="display: none;">-- SELECT --</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group row" ng-hide="hideDropDown">
					<label for="locId" class="col-xs-3 col-form-label">Location</label>
				  	<div class="col-xs-9">
				    <select id="locSelect" class="form-control" ng-model="editDetails.locId" ng-options="x.lname for x in lists.locationList track by x.id" ng-change="getLocationDetails()">
				    	<option value="" style="display: none;" selected="true">-- SELECT --</option>
				    </select>
				  </div>
				</div>
				<div ng-show="editDetails.locId">
					<div class="form-group row">
					  <label for="lname" class="col-xs-3 col-form-label mandatory">Location Name</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.lname" type="text" min="3" max="30" maxlength="80" title="Minimum 3 to 80 characters" required="true" ngTrim="true" placeholder="Company name" name="cname">
					  </div>
					</div>
					<div class="form-group row">
					  <label for="laddress" class="col-xs-3 col-form-label mandatory">Address</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.add" type="text" ng-minlength="3" ng-maxlength="200" ng-focus="visited_laddress = false" ng-blur="visited_laddress = true" title="Minimum 3 to 200 charecters" required="true" ngTrim="true"
					    name="laddress" placeholder="Location address">
					    <span class='validationError' ng-show="visited_laddress && editLocationForm.laddress.$touched && (editLocationForm.laddress.$error.required || editLocationForm.laddress.$valid==false)">*Location address requires 3 to 200 charecters.
					    </span>
					  </div>
					</div>
					<div class="form-group row">
					  <label for="limage" class="col-xs-3 col-form-label">Image</label>
					  <div class="col-xs-9" style="text-align:left;" >
					  	 <label class="custom-file">
							  <input type="file" id="locImg" class="form-control-file  custom-file-input" title="Image file for Location" onchange="angular.element(this).scope().getImgBinaryForUpdate()" accept=".jpg,.jpeg,.png" >
							  <span class="custom-file-control"></span>
							  <span class="text">Image size upto 300 Kilobytes is allowed.</span>
						</label>
						<img id="editLocImg" alt="Location Image" onerror="this.src='/assets/brand_default1.png'" class="logo-img" />
						<span class="validationError" ng-show="!isValidFile" >File size exceeded.</span>
					  </div>
					</div>
					<br>

					<div class="form-group row">
					  <label for="lcoordinates" class="col-xs-3 col-form-label">GPS Coordinates</label>
					  <div class="col-xs-3" align="center">
					  	 <label class="col-form-label" ng-class="gpsMandatoryClass">Latitude</label>
					  	 <div class="">
					  	 	<input class="form-control" value="" ng-model="editLocation.lat" type="text" ng-keydown="latLongBlurEdit()" ng-blur="latLongBlurEdit()" ng-required="latRequiredEdit" ngTrim="true" number-mask="">
					  	 </div>
					  </div>
					  <div class="col-xs-3" align="center">
					  	 <label class="col-form-label" ng-class="gpsMandatoryClass">Longitude</label>
					  	 <div class="">
					  	 	<input class="form-control" value="" ng-model="editLocation.lng" type="text" ng-keydown="latLongBlurEdit()" ng-blur="latLongBlurEdit()" ng-required="longRequiredEdit" number-mask="" ngTrim="true">
					  	 </div>
					  </div>
					</div>

					<div class="form-group row">
					  <label for="lradius" class="col-xs-3 col-form-label">Interaction Radius (meters)</label>
					  <div class="col-xs-9">
					    
					   <input id="locrad" class="form-control" value="" ng-model="editLocation.interactionRadius" type="number" ngTrim="true" min="0" number-mask="" name="lradius">
					  </div>
					</div>

					<div class="form-group row">
					  <div class="col-xs-1"> </div>
					  <label for="details" class="col-xs-3 col-form-label" style="text-align:left;width:auto;padding-left:4%;">Primary Contact Details</label>
					</div>

					<div class="form-group row">
					  <label for="pname" class="col-xs-3 col-form-label" ng-class="editLocation.primaryContact.email ? 'mandatory' : ''">Name</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.primaryContact.name" type="text"
					    ngTrim="true" name="pname" maxlength="80" ng-pattern="/^[a-zA-Z0-9' ]*$/" placeholder="Location primary contact's name" ng-required="editLocation.primaryContact.email">
					    <span class='validationError' ng-show="editLocationForm.pname.$touched && editLocationForm.pname.$error.pattern">*Special characters are not allowed.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					  <label for="pemail" class="col-xs-3 col-form-label">Email</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.primaryContact.email" type="email"
					    ngTrim="true" name="pemail"  ng-focus="visited_pemail = false" ng-blur="visited_pemail = true" ng-pattern="/^[a-zA-Z]*[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" placeholder="Location primary contact's email address" ng-disabled="!userAccess.Locations.editEmail">
					    <span class='validationError' ng-show="visited_pemail && editLocationForm.pemail.$touched && (editLocationForm.pemail.$error.email || editLocationForm.pemail.$error.pattern)">*Please enter a valid email.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					  <label for="pcontact" class="col-xs-3 col-form-label">Phone Number</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.primaryContact.contactNo" type="text"
					    ngTrim="true" name="pcontact"
					    ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" placeholder="(xxx) xxx-xxxx OR xxx-xxx-xxxx OR xxxxxxxxxx (10 digits)">
					    <span class='validationError' ng-show="editLocationForm.pcontact.$touched && editLocationForm.pcontact.$error.pattern">*Enter a valid phone number.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					  <div class="col-xs-1"> </div>
					  <label for="admindetails" class="col-xs-3 col-form-label" style="text-align:left;width:auto;padding-left:4%;">Admin Contact Details</label>
					</div>

					<div class="form-group row">
					  <label for="aname" class="col-xs-3 col-form-label" ng-class="editLocation.adminContact.email ? 'mandatory' : ''">Name</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.adminContact.name" type="text"
					    ngTrim="true" name="aname" maxlength="80" ng-pattern="/^[a-zA-Z0-9' ]*$/" placeholder="Location administrator's name" ng-required="editLocation.adminContact.email">
					    <span class='validationError' ng-show="editLocationForm.aname.$touched && editLocationForm.aname.$error.pattern">Special characters are not allowed.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					  <label for="aemail" class="col-xs-3 col-form-label">Email</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.adminContact.email" type="email"
					    ngTrim="true" name="aemail" ng-focus="visited_aemail = false" ng-blur="visited_aemail = true" ng-pattern="/^[a-zA-Z]*[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/" placeholder="Location administrator's email address" ng-disabled="!userAccess.Locations.editEmail">
					    <span class='validationError' ng-show="visited_aemail && editLocationForm.aemail.$touched && (editLocationForm.aemail.$error.email || editLocationForm.aemail.$error.pattern)">*Please enter a valid email.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					  <label for="acontact" class="col-xs-3 col-form-label">Phone Number</label>
					  <div class="col-xs-9">
					    <input class="form-control" value="" ng-model="editLocation.adminContact.contactNo" type="text"
					    ngTrim="true" name="acontact" ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" placeholder="(xxx) xxx-xxxx OR xxx-xxx-xxxx OR xxxxxxxxxx (10 digits)">
					    <span class='validationError' ng-show="editLocationForm.acontact.$touched && editLocationForm.acontact.$error.pattern">*Enter a valid number.
					    </span>
					  </div>
					</div>

					<div class="form-group row">
					<br>
					  <button type="submit" class="btn btn-default btn-list-view  pull-right" ng-disabled="editLocationForm.$invalid || editLocationForm.$pristine" ng-click="editLocationDetails(editLocation)">Update</button>
					  <button type="submit" class="btn btn-default btn-list-view  pull-right" style="margin-right:5px"
				 ng-click="showCancelModal()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</div>