<div ng-controller="setPassCtrl" ng-click="" style="margin-top:60px">
<div id="res"></div>
<div class="wrapper">
</div>
	<div class="alert alert-success" ng-show="showSuccessAlert" style="width:100%;!important;">
	     <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>
	     <strong>{{successTextAlert}}</strong>
	</div>
	<div class="alert alert-danger" ng-show="showFailureAlert" style="width:100%;!important;">
	     <button type="button" class="close" data-ng-click="switchBool('showFailureAlert')">×</button>
	     <strong>{{failureTextAlert}}</strong>
	</div>
	<div class="col-xs-9 col-md-11 pull-md-3" data-example-id="" >
		<form name="setPasswordForm">
			<fieldset>
				<div class="form-group row" style="margin-top:20px;">
				  <label for="password" class="col-xs-3 col-form-label" style="text-align: right;">Password</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="setPassDetails.password" type="password" minlength="6" maxlength="80" title="Minimum 6 characters" required="true" ngTrim="true" placeholder="Password" name="password">
				    <span class='validationError' ng-show="setPasswordForm.password.$touched && setPasswordForm.password.$error.required">*Password is required.
                    </span>
                    <span class='validationError' ng-show="setPasswordForm.password.$touched && setPasswordForm.password.$error.minlength">*Minimum 6 characters.
                    </span>
				  </div>
				 </div>
				<div class="form-group row" style="margin-top:20px;">
				  <label for="cpassword" class="col-xs-3 col-form-label" style="text-align: right;">Confirm Password</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="setPassDetails.confirmPassword" type="password" minlength="6" maxlength="80" title="Minimum 6 characters" required="true" ngTrim="true" placeholder="Password" name="cpassword" compare-to="setPassDetails.password">
				    <span class='validationError' ng-show="setPasswordForm.cpassword.$touched && setPasswordForm.cpassword.$error.required">*Confirm password is required.
                    </span>
                    <span class='validationError' ng-show="setPasswordForm.cpassword.$touched && setPasswordForm.cpassword.$error.minlength">*Minimum 6 characters.
                    </span>
                    <span class='validationError' ng-show="setPasswordForm.cpassword.$touched && setPasswordForm.cpassword.$error.compareTo">*Password must match.
                    </span>
				</div>
				</div>
				<div class="form-group row">
				<br>
				  <button type="submit" class="btn btn-default btn-list-view  pull-right" ng-disabled="setPasswordForm.$invalid" ng-click="setPassword()">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
