<div ng-controller="dashCtrl" ng-init="initUserProfile()" ng-click="" style="margin-top:60px">
<div id="res"></div>

	<div class="headerMessage" >
				<div class="alert alert-success" ng-show="showSuccessAlert">
				     <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> 
				     <strong>{{successTextAlert}}</strong> 
				</div>
				<div class="alert alert-danger" ng-show="showFailureAlert">
				     <button type="button" class="close" data-ng-click="switchBool('showFailureAlert')">×</button> 
				     <strong>{{failureTextAlert}}</strong>
				</div>
	</div>
<div class="wrapper">
	<div class="">
	<div class="col-xs-9 col-md-11 pull-md-3" data-example-id="" >
		<h3>User Profile</h3>
		</div>

		<div class="col-xs-9 col-md-11 pull-md-3 workArea" data-example-id="">
			<form name="userDetailsForm">
				<div class="form-group row">
				  <label for="upname" class="col-xs-3 col-form-label">Name</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="userProfile.personalInfo.fullName" name="upname" required="true" placeholder="Full Name" ngTrim="true">
				    <span class='validationError' ng-show="userDetailsForm.upname.$touched && userDetailsForm.upname.$error.required">*Email is required.
				    </span>
				  </div>  
				</div>
				<div class="form-group row" style="margin-top:20px">
				  <label for="password" class="col-xs-3 col-form-label">Password</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="userProfile.password" type="password" minlength="5" maxlength="80" title="Minimum 5 characters" ngTrim="true" placeholder="Password" name="password">
                    <span class='validationError' ng-show="userDetailsForm.password.$touched && userDetailsForm.password.$error.minlength">*Minimum 5 characters.
                    </span>
				  </div>
				 </div>
				<div class="form-group row" style="margin-top:20px">
				  <label for="cpassword" class="col-xs-3 col-form-label">Confirm Password</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="userProfile.confirmPassword" type="password" minlength="5" maxlength="80" title="Minimum 5 characters" ng-required="userProfile.password" ngTrim="true" placeholder="Password" name="cpassword" compare-to="userProfile.password">
				    <span class='validationError' ng-show="userDetailsForm.cpassword.$touched && userDetailsForm.cpassword.$error.required">*Confirm password is required.
                    </span>
                    <span class='validationError' ng-show="userDetailsForm.cpassword.$touched && userDetailsForm.cpassword.$error.minlength">*Minimum 5 characters.
                    </span>
                    <span class='validationError' ng-show="userDetailsForm.cpassword.$touched && userDetailsForm.cpassword.$error.compareTo">*Password must match.
                    </span>
				</div>
				</div>
				<div class="form-group row" style="margin-top:20px" ng-if="userProfile.password">
				  <label for="curpassword" class="col-xs-3 col-form-label">Current Password</label>
				  <div class="col-xs-9">
				    <input class="form-control" value="" ng-model="userProfile.currentPassword" type="password" minlength="5" maxlength="80" title="Minimum 5 characters" ngTrim="true" placeholder="Password" name="curpassword" ng-required="userProfile.password">
                    <span class='validationError' ng-show="userDetailsForm.curpassword.$touched && userDetailsForm.curpassword.$error.minlength">*Minimum 5 characters.
                    </span>
                    <span class='validationError' ng-show="userDetailsForm.curpassword.$touched && userDetailsForm.curpassword.$error.required">*Current password is required.
                    </span>
				  </div>
				 </div>
				<div class="form-group row">
				<br>
				  <button type="submit" class="btn btn-default btn-list-view  pull-right" ng-disabled="userDetailsForm.$invalid" ng-click="updateUserProfile()">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

</div>