<div
 style="background: #f3ffeb; color: #323532; display: block; font-family: sans-serif; font-size: 16px; min-height: auto; line-height: 20px; min-height: 100%; padding: 0; text-align: center; width: 100%"
 align="center">
 <div
  style="background: #f3ffeb; border-bottom-color: #e7e7e7; border-bottom-style: solid; border-bottom-width: 0px; color: white; min-height: 57px; padding: 10px 0">
  <img src="http://applause-dev.appspot.com/assets/applause_logo1.png" height = "50" width="158" alt="applause">
  <br>
 </div>
 <div
  style="background: white; border: 1px solid #e7e7e7; margin: auto auto 20px; max-width: 95% !important; text-align: center; width: 500px"
  align="center">
  <div style="margin: 0; padding: 0 1.25em; text-align: left"
   align="left">
   <span style = "color : black">
   <br>Hey {{ firstName }},<br>
   <br>You are now registered with Applause. &nbsp;<br>
   <br>For security purposes, please verify your email address
   and set password.
   </span>
  </div>
  <div style="margin: 0; padding: 1.25em; text-align: center"
   align="center">
   <a
    href= {{ activationLink }}
    style="background: #2d95d3; border: 0; border-radius: 8px; color: white; display: inline-block; font-size: normal; font-style: normal; font-variant: normal; font-weight: normal; min-height: auto; letter-spacing: 1px; line-height: normal; margin: 1em auto; max-width: auto; padding: 10px 1em; text-align: center; text-decoration: none; white-space: nowrap"
    >Set Password</a>
  </div>
  <div style="margin: 0; padding: 0 1.25em; text-align: left"
   align="left">
   <span style = " color : #500050">
   You can also copy and paste this link into a new window to verify
   your email address and set password:</span> <a
    href= {{ activationLink }}> {{ activationLink }}
   </a><br>
  </div>
  <hr
   style="background: #e7e7e7; border: none; min-height: 1px; width: 90%">
  <div style="margin: 0; padding: 0 1.25em; text-align: left"
   align="left">
   <br><span style = " color : #500050">If you did not make a request to join applause, you can
   ignore this email.<br>
   <br>Please do not reply to this automated email.</span><br>
   <br>
  </div>
 </div>
 <div
  style="color: #323532; font-size: 30px; font-weight: normal; line-height: 36px; padding: 0.67em; text-align: center"
  align="center">
  <br>
 </div>
 <div style="font-size: 12px; line-height: 16px; padding: 20px 0">
  <div style="color: #80807e; margin: 0 0 1.25em; padding: 0 20px"></div>
  <div style="color: #f3ffeb; margin: 0 0 1.25em; padding: 0 20px">[ZDTRIG00001]</div>
 </div>
</div>
<div
 style="background: #f3ffeb; border-bottom-color: #e7e7e7; border-bottom-style: solid; border-bottom-width: 0px; color: white; min-height: 57px; padding: 10px 0">
 <br>
</div>